// COLOUR
$color-body-background: #184682;
$color-analogous-184682: #1f1882;
$color-analogous-184682: #187b82;
$color-triadic-184682-red: #821846;
$color-triadic-184682-green: #468218;
$color-compliment-184682-red: #821f18;
$color-compliment-184682-green: #7b8218;
$color-compliment-184682-brown: #825418;
$color-purple-palette-light: #6c7cac;
$color-purple-palette-dark: #383c66;
$color-teal-palette-light: #54849c;
$color-purple-analogous: #541882;
$color-violet-analogous: #82187B;
$color-cerise-analogous: #821846;
$color-rust-analogous: #821F18;
$color-green-analogous: #188246;
$color-blue-light-1: #c5d1df;
$color-blue-light-2: rgb(140, 163, 193);
$color-blue-light-3: #697a90;
$color-blue-medium: #275a95;
$color-blue-dark-1: #123461;
$color-blue-dark-2: rgb(12, 35, 65);
$color-blue-dark-3: #091a30;
$color-white: #fff;
$color-black: #2f2f30;
$color-light: #c9e3f3;
$color-dark: #184682;
// file:///C:/Users/rlwoo/OneDrive/Documents/Workspace/Trilogy/sass/vendors/PlanetDarkBlue_color_palette.pdf
// https://icolorpalette.com/imagepalette/color-palette-ideas-from-atmosphere-nature-sky-image
// $background-green: #488B3D;
// $background-blue: #483D8B;
// paua #241F45 darkslateblue #483D8B   -       https://www.htmlcsscolor.com/hex/483D8B 
// FONT
$default-font-size: 1.6rem;
$smallest-font-size: 1.1rem;
$smaller-font-size: 1.3rem;
$larger-font-size: 1.9rem;
$line-height--smaller: 1.2rem;
// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$gutter-vertical-small: 6rem;