.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .4;
    overflow: hidden;
    // even though object-fit: cover; the video still overflows so need overflow: hidden;
    //bg.video is the container - bg-video__content is the actual video
    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    // cover will fill entire parent while still maintaining aspect ratio - clips off parts that don't fit
}